<%= turbo_stream_from "item" %>
<p style="color: green"><%= notice %></p>
<%#= link_to "New item", new_item_path %>

<div class="bg-white">
  <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8 place-items-center">
    <h2 class="text-2xl font-extrabold tracking-tight text-gray-900 text-center mb-3">Items at home</h2>
    <div>
      <%= datagrid_form_for @grid, :method => :get, :url => items_path %>
    </div>
    <div>
      <%= datagrid_table @grid %>
    </div>
  </div>
</div>
