<p style="color: green"><%= notice %></p>

<h1>Brands</h1>
<%= link_to "New brand", new_brand_path %>

<div class="flex flex-col">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full">
          <thead class="bg-white border-b">
          <tr>
            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
              #ID
            </th>
            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
              Name
            </th>
            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
              Notes
            </th>
            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
              Created
            </th>
          </tr>
          </thead>
          <tbody>
          <% @brands.each do |brand| %>
            <%= render brand %>

          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

